{% load bootstrap4 %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit = no">
        <meta name="author" content="Stephen Annor Apenkwah">
        <title>SteveBlog</title>
        <script src="https://cdn.tailwindcss.com"></script>
        
        <script>
                tailwind.config = {
                theme: {
                    extend: {
                          colors: {
                            clifford: '#da373d',
          }
        }
      }
    }
        </script>
        
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
    
    </head>
    <body>
        
            <header>
              
                {% if user.is_authenticated %}
                <span><a href="{% url 'blogs:blogs' %}"> Hello, {{user.username}}.</a></span>
                {% else %}
                <a href="{% url 'users:register' %}">Register</a>
                <a href="{% url 'users:login' %}">Login</a>
                {% endif %}

                
                {% if user.is_authenticated %}
                  <a href="{% url 'blogs:index' %}">SteveBlogs</a>
                  <a href="{% url 'users:logout' %}">Logout</a>

                {% else %}
                  <a href="{% url 'blogs:index' %}">SteveBlogs</a>           
                  <a href="{% url 'users:login' %}">Sign up</a>
                {% endif %}
            </header>
        
      </body>
        <main role="main">
          
              {% block page_header %}{% endblock page_header %}
         
              {% block content %}{% endblock %}
         
      </main>

</html>
